<div class="p-d-inline">
<table>
  <tr>
    <td id="id4">
      Patientennummer
    </td>
    <td id="id3">
      {{patientData.id}}
    </td>
  </tr>
  <tr>
    <td id="id2">
      Vorname
    </td>
    <td id="id">
      {{patientData.firstName}}
  </tr>
  <tr>
    <td id="id2">
      Nachname
    </td>
    <td id="id">
      {{patientData.lastName}}
  </tr>
  <tr>
    <td id="id2">
      Geburtsdatum
    </td>
    <td id="id">
      {{patientData.birthday}}
  </tr>
  <tr>
    <td id="id2">
      Geschlecht
    </td>
    <td id="id">
      {{patientData.gender}}
  </tr>
</table>
</div>
