table{
  border: 3px solid #b70f0a;
  border-collapse: collapse;
  border-spacing: 130px;
  font-size: 14px;
  font-family: Helvetica;
}
td{
  border: 3px solid #b70f0a;
  border-collapse: collapse;
  border-spacing: 130px;
  font-size: 14px;
  font-family: Helvetica;
  border-bottom: 0px;
  border-top: 0px;
}
#id{
  padding-left: 15px;
  padding-right: 6px;
  padding-bottom: 17px;
}
#id2{
  padding-right: 15px;
  padding-bottom: 17px;
}