<app-falleigenschaften>
</app-falleigenschaften>
<hr>
<!--
<div id="allgemein" class="p-formgroup-inline">
  <span class="p-mr-3">
    <app-patienten>
    </app-patienten>
  </span>
  <span>
    <app-patienten-details>
    </app-patienten-details>
  </span>
</div>-->
<div class="p-grid">
  <div class="p-col">
  <div id="allgemein" class="p-formgroup-inline">
  <span class="p-mr-3">
    <app-patienten>
    </app-patienten>
  </span>
  <span>
    <app-patienten-details>
    </app-patienten-details>
  </span>
</div></div>
    <div class="p-col">2</div>
</div>