<div class="p-d-inline">
  <table>
  <tr>
    <td id="id4">
      Fallnummer
    </td>
    <td id="id3">
      {{patientData.caseNumber}}
  </tr>
  <tr>
    <td id="id2">
      Aufnahme
    </td>
    <td id="id">
      {{patientData.admission}}
  </tr>
  <tr>
    <td id="id2">
      Entlassung
    </td>
    <td id="id">
      {{patientData.discharge}}
  </tr>
  <tr>
    <td id="id2">
      Krankenhaus
    </td>
    <td id="id">
      {{patientData.hospital}}
  </tr>
  <tr>
    <td id="id2">
      Station
    </td>
    <td id="id">
      {{patientData.station}}
  </tr>
</table>
</div>